@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Add application styles & imports to this file! */
* {
  font-family: 'Inter Tight', ui-sans-serif, system-ui, -apple-system,
    'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

a {
  color: color(srgb 0.607979 0.71007 0.99968);
}

body {
  color: #4f4034;
  // box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  // height: 100svh;
  // filter: url(#wavy2);
}

.logo {
  height: 100px;
  margin: 20px;
  background: url('/assets/angular_renaissance.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.logo::before {
  position: relative;
  font-size: 3.5rem;
  font-weight: 700;
  top: 25px;
  left: 110px;
  content: 'Angular';
}

.draw {
  background:transparent;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  border:solid 1px #41403E;
}

.draw:hover{
   box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
button.lined.thick{
   border:solid 3px #41403E;
}