@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Add application styles & imports to this file! */
* {
  font-family: 'Inter Tight', ui-sans-serif, system-ui, -apple-system,
    'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

a {
  color: color(srgb 0.607979 0.71007 0.99968);
}

body {
  color: #fff;
  background: #000;
}

.logo {
  width: 290px;
  height: 91px;
  background: url('https://angular.dev/assets/content/images/press-kit/angular_wordmark_gradient.png');
  background-size: contain;
}

:root {
  --md-sys-color-primary: olive;
  --md-sys-color-secondary: tomato;
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;
}
